* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

.text-green {
  color: green;
}

.text-blue {
  color: blue;
}

.header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

section {
  display: flex;
}

nav {
  flex: 1;
  background-color: #ccc;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 0.5em;
}

article {
  flex: 4;
  background-color: #f1f1f1;
  padding: 10px;
}

footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

h1, h2, h5 {
  text-transform: capitalize;
}